@page "/view-enterprise/{enterpriseId}"
@page "/view-enterprise/"

@using MiniBlazorProject.Contracts;
@using MiniBlazorProject.Models;
@using MiniBlazorProject.Utils;

@inject IEnterpriseService EnterpriseService;
@inject ISegmentService SegmentService;

<h3>@title</h3>
<div>
    <EditForm Model="@enterprise" OnSubmit="@HandleSubmit" href="/enterprises" class="form-control-plaintext flex-column">
        <div style="flex: auto">
            Name:
            <div>
                <InputText id="name" title="Name" @bind-Value="enterprise.Name" @oninput="CheckIfIsValid"/>
                @if (@nameValidationError)
                {
                    <span class="alert">Name is not valid!</span>
                }
            </div>
        </div>
        <div style="flex-direction: row">
            Site:
            <div>
                <InputText id="site" @bind-Value="enterprise.Site" />
            </div>
        </div>
        <div>
            Active:
            <InputCheckbox id="active" @bind-Value="enterprise.Active" />
        </div>

        <div>
            Segment:
            <div>
                <InputSelect @bind-Value="@enterprise.SegmentId">
                    <option value="">Select segment...</option>
                    @foreach (var segment in segments)
                    {
                        <option value="@segment.Id">@segment.Name</option>
                    }
                </InputSelect>
            </div>

        </div>

        <div class="align-content-center" >
            <button class="btn-primary" type="submit">
                @if (string.IsNullOrEmpty(enterpriseId))
                {
                    <b>Create</b>
                }
                else
                {
                    <b>Update</b>
                }
            </button>
            <a class="btn btn-primaty-outline btn-sm" href="enterprises">Cancel</a>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public string? enterpriseId { get; set; }

    private string title = "";
    private bool nameValidationError = false;
    private Enterprise enterprise = new();
    private List<Segment> segments;

    protected override async Task OnInitializedAsync()
    {
        if(!string.IsNullOrEmpty(enterpriseId))
        {
            enterprise = await EnterpriseService.GetEnterpriseById(enterpriseId);
            title = enterprise.Name;
        }
        else
        {
            title = "Create new enterprise";
        }
        segments = await SegmentService.GetAllSegments(Constants.PAGE_SIZES.Last(), 1);
    }

    protected async Task CheckIfIsValid(ChangeEventArgs ev)
    {
        nameValidationError = string.IsNullOrEmpty(ev.Value.ToString());            
    }

    protected async Task HandleSubmit()
    {
        try
        {
            if (string.IsNullOrEmpty(enterprise.SegmentId))
                enterprise.SegmentId = null;
            if (string.IsNullOrEmpty(enterpriseId))
                await EnterpriseService.CreateEnterprise(enterprise);
            else
                await EnterpriseService.UpdateEnterprise(enterprise);
        }
        catch (Exception)
        {
            throw;
        }
    }
}
